/** Now Playing **/
.now-playing__name {
  font-size: calc(18px + 2.5vw);
  color: purple;
  height: 10%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5vw;  
}
.now-playing__artist {
  font-size: calc(12px + 1.5vw);
  margin-bottom: 0em;
  color: purple;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 1vw;  
}
.now-playing__img {
  float: left;
  text-align: right;
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.now-playing__img img {
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.now-playing__side {
  float: left;
  margin: auto;
  height: 95%;
  min-width: 80%;
}
/** Progress **/
.progress {
  border: 1px solid #000;
  height: 5%;
  border-radius: 3px;
  overflow: hidden;
}
.progress__bar {
  background-color: #1E1B96;
  height: 100%;
}

.next-playing__img img {
  max-width: 150px;
  max-height: 150px;
}
.next-playing__side {
  float: left;
  margin: auto;
  width: 100%;
  padding: 10px;
}
.next-playing__name {
  font-size: 0.5em;
  margin-bottom: 0.1em;
  color: #1E1B96;
}
.next-playing__artist {
  font-size: 0.7em;
  margin-bottom: 0.1em;
  color: #1E1B96;
}
#queue {
	height: 100%;
	float: left;
}
#played_queue {
	min-width: 10%;
	height: 100%;
	float: right;
	display: inline-table;
}
#played_queue_card .ant-card-body{
	float: right;
	display: block;
	padding: 0px;
}

#buttons{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 10%;
	padding-top: 5px;
}
#buttons_two{
	flex-direction: column; 
	display: flex;
	height: 100px;
}
.button_img{
	width: auto;
	height: 100%;
	margin: auto;
}
.ant-card-body{
	height: 100%;
	max-height: 500px;
	box-sizing: border-box;
}
.ant-list-item-meta-avatar{
	height: 100%;
}
svg {
  width: 100%;
}